# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\year 3\MOD 10\flask-datta-able\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
